<!DOCTYPE html>
<html>
<head>
	<title></title>

<link href="css/stylesheet.css" rel="stylesheet" type="text/css">

	<!-- JAVASCRIPT AJAX SEARCH ENGINE -->
	
	<script type="text/javascript">
		function changeContent()
{
		var theDiv = document.getElementById("content");
		theDiv.innerHTML = "Look mate!";

}


</script>

</head>
<body>
<!-- set box1  -->
<div class="box1">
 <!--set box2 -->
 	<div class="box2">
 	<!--set innerbox -->
	<div class="innerbox">		
	  <center><h1><p>Welcome mate, choose your destiny!</p></h1></center>

<!-- 	 Nav bar starts here -->
<form method="get" action="/add">
		<center><button class="button" type="Submit">Register</button></center>



</form>
<br />
<form method="get" action="/search">
		<center><button class="button" type="Submit">Search</button></center>
</form>
<br />

 	<!-- close innerbox -->
	</div>
 <!--close box2 -->
 </div>
<!-- close box1 -->
</div>

</body>
</html>