<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">

</head>
<body>

<!-- set box1  -->
<div class="box1">
 <!--set box2 -->
 	<div class="box2">
 	<!--set innerbox -->
	<div class="innerbox">		
	  <center>	

		<p><h1>Here you go mate:</h1></p>

		<ul>
	
<!---generate users list--->				
		<% for (i = 0; i < data.length; i++) { %>
		<% if (input == data[i].firstname || input == data[i].lastname || input == data[i].firstname + ' ' + data[i].lastname) { %>
		<li class="result">
		<%- data[i].firstname + " " + data[i].lastname + " / " + data[i].email%></li>
		<% } else{ %>
		<% } %>
		<% } %>
		</ul>

	</center>
<center>
	<form method="get" action="/index">
		<button class="button" type="Submit">Nobody? going home!</button>
	</form>
	</center>
<br />
 	<!-- close innerbox -->
	</div>
 <!--close box2 -->
 </div>
<!-- close box1 -->
</div>

</body>
</html>