<!DOCTYPE html>
<html>
<head>
	<title>Search page</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- set box1  -->
<div class="box1">
 <!--set box2 -->
 <div class="box2">
 	<!--set innerbox -->
	<div class="innerbox">		
	  <center>	
		<p><h1>Who are you looking for?</h1></p>
		
		<form method="POST">

		<p>	
		 	<input class="input" type="text" name="search">
		</p>
		
		<p>
			<button class="button" type="Submit">Submit</button>
		</p>
	</form>

	<form method="get" action="/index">
		<button class="button" type="Submit">Nobody? go home!@#$%</button>
	</form>
	</center>
<br />
	<!-- close innerbox -->
	</div>

 <!--close box2 -->
 </div>

<!-- close box1 -->
</div>


</body>
</html>