<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- set box1  -->
<div class="box1">
 <!--set box2 -->
 	<div class="box2">
 	<!--set innerbox -->
	<div class="innerbox">		
	  <center>			<p>Please find below a list of all your felows!</p>

		<ul>
			<li> <%= data.firstname +" " +data.lastname %>
		</ul>

</center>
 	<!-- close innerbox -->
	</div>
 <!--close box2 -->
 </div>
<!-- close box1 -->
</div>

</body>
</html>